# Анализ данных Яндекс Дзен

В данном проекте мы проводим анализ пользовательского взаимодействия с карточками статей.  
Каждую карточку определяют её тема и источник. Пользователей системы характеризует возрастная категория.
Цель выполнения данного проекта: создать дашборд, который смог бы раз в неделю давать ответы на вопросы менеджеров.
Вопросы следующие:
- Сколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?
- Как много карточек генерируют источники с разными темами?
- Как соотносятся темы карточек и темы источников?

Для этого мы выглузим необходимые данные из базы и руководствуясь ТЗ создадим дашборд.

In [1]:
# импортируем библиотеки
import pandas as pd
try:
    from sqlalchemy import create_engine
except:
    !pip install SQLAlchemy 
    from sqlalchemy import create_engine
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Applications/anaconda3/envs/da_practicum_env/lib/python3.9/site-packages (2.9.3)

In [2]:
# создадим коннекцию к базе
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [3]:
# выгрузим все данные
query = '''
            SELECT *
            FROM dash_visits
        '''

In [4]:
# сделаем sql-запрос
dzen = pd.io.sql.read_sql(query, con = engine)
dzen

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [5]:
dzen.to_csv('dzen.csv', index=False) # сохраним базу в csv-файл

Дальнейшую обработку файла мы сделали про помощи Tableau, вот [наш дашборд.](https://public.tableau.com/app/profile/ekaterina1585/viz/DashboardYandexDzen_16647860736560/Dashboard1)
А это [презентация](https://docs.google.com/presentation/d/1xdStGR250fTo-r8UeQzyTPRbmGrVTVZcevU7JK-p6IQ/edit#slide=id.p), в окторой мы ответим на вопросы менеджеров.